{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/author.webp' %}" class="profile-image" />
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}</h2>
      <!-- Content goes directly underneath this -->
      {{ about.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 my-5">
      <h2>True Review Mission Statement</h2>
      <p>The trust people have in review aggregator websites such as Rotten Tomatoes,
        and IGN is at an all time low, often with huge disparity between critic and audience scores.
        There are a multitude of reasons this is the case but what I believe is important,
        is that a huge audience exists for media reviews that put content, 
        and the genuine attempt to analyse content first. 
        True Review is built to step into this void as a platform for users to;
        firstly read great reviews but also to create their own and comment on others.
        There are of course still ratings for the user; to glean at a glance a rough
        idea on someones opinion of a piece of media but our ethos, 
        via moderation is to focus on the critque of storytelling, direction, 
        cinematography and the acting performances that have made people fall in love with film,
        tv-series and video-games for generations. 
        To have your reviews accepted onto the platform all you need to do is genuinely dicuss
        your opinion on the media you have chosen with a respect to basic decency and not to
        hijack media or reviews to drive non relevant allegory for political or personal
        point scoring from any side of an argument.
        The initial idea is to produce three review types each with some unique fields:
        movie reviews, tv reviews and game reviews, 
        but due to time constraints it has been initially launched with movie reviews active,
        and the intent to add functionality for the other two soon. 
        I hope all readers of this enjoy the site, feel free to raise a query to admin
        in the comments and I will endeavour to answer any questions that you may have.
      </p>
    </div>

  </div>
</div>
{% endblock content %}